/* Please use the following format for naming classes and ids
 * so that there are no conflicts with other style sheets:
 * .yourpagename__class-name
 * #yourpagename__id-name
 * Example: .index__main-section, .index__second-section, .blog-post__second-section
 * Example: #index__form, #index__top, #blog-post__top */
 
.blog-index__row {
  margin-top: 30px;
}

.blog-index__col {
  height: 250px;
}

.blog-index__info {
  bottom: 0;
  position: absolute;
}